html{
    background: linear-gradient(black, rgb(131, 0, 0));
    background-image: url(../images/backgroundImage.png);
    background-size: cover;
    background-position: center;
}

a:link{
    color: rgb(0, 223, 223)
}

a:visited{
    color: rgb(0, 70, 70)
}

a:hover{
    color: white;
}

body {/*setting up the grid*/
    display: grid;
    grid-template-areas:
    "topHead topHead"
    "nav bodyMain";
    grid-template-columns: 25% 1fr;
    grid-template-rows: 10% auto;
    grid-gap: 5px;
}

#topHead{
    grid-area: topHead;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant: small-caps;
    color: white;
    text-shadow: 2px 2px rgba(0, 245, 245, 0.541);
    font-size: 5vw;
    padding: 10px;
    margin: 20px;
    text-align:center;
}

#nav{
    grid-area: nav;
    position: fixed;
    margin-top: 20%;
}

#nav .button{
    position: relative;
    text-align: center;
}

#nav .button img{
    height:50px;
    width:200px;
    margin:10px;
    border-radius:20px;
    box-shadow:rgba(0, 87, 87, 0.486) 5px 5px 10px;
}

#nav .center{/*text for buttons*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}

#bodyMain{
    grid-area: bodyMain;
    position: relative;
    font-family: Garamond, serif;
    font-size: 16;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.288);
    height: 75%;
}
#home{/*to create ids for hyperlinks*/

}

#bodyMain .home{
    margin: 30px;
    padding: 30px;
    height: 300 px;
    width: auto;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,155,158,0.4182715322457108) 100%);
    border: solid 3px teal;
    font-size: larger;
}

#about{

}

#bodyMain .about{
    margin:30px;
    padding:15px;
    height:auto;
    width: auto;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,155,158,0.4182715322457108) 100%);
    border: solid 3px teal;
    text-align:justify;
    font-size: larger;
}

#bodyMain .about h1,#bodyMain .contact h1,#bodyMain .home h1, #project h1{
    color:white;
    text-shadow:5px 5px rgba(0,0,0, .5);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant: small-caps;
    color: white;
}

#bodyMain .about img{
    float: right;
    border: dotted teal 2px;
    width: 25%;
    max-width: 100px;
    height: auto;
    margin: 10px;
}

#contactMe{

}

#bodyMain .contact{
    margin:30px;
    padding:15px;
    height:auto;
    width: auto;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,155,158,0.4182715322457108) 100%);
    border: solid 3px teal;
    text-align:center;
    font-size: larger;
}

#project{
    margin: 30px;
    padding:15px;
    height:auto;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,155,158,0.4182715322457108) 100%);
    border: solid 3px teal;
    text-align:justify;
}

.projects {/*labels*/
    margin:30;
    background-color: black;
    color: white;
    text-shadow: 2px 2px rgb(0, 53, 53);
    cursor: pointer;
    padding: 18px;
    text-align: left;
    font-size: 15px;
    transition: 0.4s;
    width: 100%;
}
  
  .active, .projects:hover {
    background-color: teal;
  }
  
  .desc {/*accordian dropped down*/
    margin:30;
    padding: 0 18px;
    display: none;
    background-color: rgba(0, 0, 0, 0.514);
    border: solid 3px black;
    overflow: hidden;
    box-shadow: black;
}

.otherButton{/*the button for everything but the nav*/
    background-image: url(../images/buttons/buttonBlue.png);
    border-radius: 20%;
    height:30px;
    width:150px;
    float:center;
    margin-inline: 35%;
    color:white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.288);
}
@media only screen and (max-width: 900px){

    html{
        background: black;
        background-image:url(../images/backgroundImage.png);
        background-position: center;
        background-size:cover;
    }


    body {/*setting up the grid*/
        display: grid;
        grid-template-areas:
        "topHead topHead"
        "nav bodyMain";
        grid-template-columns: 10% 95%;
        grid-template-rows: 4% 1fr;
        grid-gap: 10px;
    }

    #topHead{
        border:none;
        margin: 20px;
    }

    #nav{
        position:fixed;
        margin-top: 300px;
    }

    #nav .button{
        text-align: center;
        max-width: 50px;
    }
    #nav .button img{
        max-width:50px;
        margin: 0px;
    }

    #bodyMain{
        height: fit-content;
        margin: none;
    }

    #bodyMain .about,#bodyMain .contact, #bodyMain .home, #project{
        border: none;
    }

    .projects{
        font-size: medium;
    }
}

@media only screen and (min-width: 1600px){
    body {/*setting up the grid*/
        display: grid;
        grid-template-areas:
        "topHead topHead"
        "nav bodyMain";
        grid-template-columns: 15% 74%;
        grid-template-rows: 8% 1fr;
        grid-gap: 10px;
    }

    #nav{
        position: relative;
    }

    #nav .button{
        font-size: x-large;
    }

    #bodyMain{
        font-size: x-large;
    }
}